#: Latex
*.aux
*.log
*.out
*.toc
*.synctex.gz
auto/

#: Python
*.pyc
__pychache__

#: Temp
*.*~

#: pycharm
*.idea

# simulation results
Lab9/Webots/controllers/pythonController/logs/
Lab9/Webots/worlds/
